.site-layout {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.site-layout .site-layout-background {
  background: #fff;
}

.root-layout {
  position: relative;
  max-width: 980px;
  margin: 0 auto;
  min-height: 100vh !important;
}